body{
		background-image: url(background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
}

#nav   	{
			position: relative;
			border-bottom: 1px solid silver;
			padding: 0px;
			margin: 5px 13px;
		}
#ofr	{
			margin-bottom: 2px;
		}
.imageh {	
			position: absolute;
			margin: 0px;
			float: right;
			right: 0px;
			padding: 2px;
			border: 1px solid black;
			bottom: 5px;
			opacity: 0.3;
		}
.imageh:hover{
					border: 1px solid gray;
					padding: 2px;
					border-radius: 11px;
					opacity: 0.95;
					transition: opacity 1.5s ease-in-out;
			}

#footer {   
			position: absolute;
			position: 0%;
			left: 35%;
			right: 30%;
			top: 96%;
			text-align: center;
			font-family: georgia;
			color: white;
			font-size: 13px;
			padding: 0px;
			opacity: 0.5;
		}

/*.........................Log in interfate......................*/
#parent	{
			height: 73%;
			width: 70%;
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: auto;
			margin-right: auto;
			background-color: none;
			border-radius: 10px;
		}
#l-space{
			position: relative;
			display: inline-block;
			height: 100%;
			width: 60%;
			margin: 0px;
			background-color: #C72E2E;
			border-radius: 10px;
			opacity: 0.9;
			overflow: hidden;
		}
#l-space:hover {
					opacity: 1;
					transition: opacity 1.2s ease-in-out;
					
				}
#l-space img 	{
					display: block;
					border-radius: 20px;
					padding: 10px;
					margin-top: 15px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 5px;
				}
#l-space h1		{
					display: block;
					text-align: center;
					margin-top: auto;
					margin-bottom: auto;
					margin-right: auto;
					margin-left: auto;
					font-size: 35px;
					font-family: georgia;
					color: white;
					font-weight: bold;
				}
#l-space p1		{
					display:block;
					text-align: center;
					margin-top: auto;
					margin-bottom: 90px;
					font-size: 22px;
					font-family: serif;
					font-style: italic;
					color: white;
				}
#l-space p2		{
					position: absolute;
					bottom: 4%;
					left: 1%;
				}	
#l-space p2	li	{
					margin-left: 15px;
					font-size: 19px;
					font-family: serif;
					color: white;
					padding-top: 12px;
				}
#l-space p2 li:hover {
						font-size: 20px;
					}				
.ed				{
					font-style: italic;
					font-size: 15px;
				}
#l-space		{
					
				}
#r-space		{
			position: relative;
			display: inline-block;
			height: 100%;
			width: 40%;
			float: right;
			margin: 0px;
			background-color: white;
			border-radius: 10px;
			opacity: 0.9;
			text-align: center;
			overflow: hidden;
		}
#r-space:hover {
					opacity: 1;
					transition: opacity 1.2s ease-in-out;
					
				}
#form			{
					margin-bottom: 0px;
}
#r-space h5		{
					text-align: left;
					margin-top: 12px;
					margin-left: 12px;
					font-size: 20px;
					font-family: georgia;
					color: red;
					font-weight: bold; 
					margin-bottom: 20%;
				}
#n				{
					position: relative;
					left: 5%;
					text-align: left;
					font-family: georgia;
					color: #808080;
				}
#n:hover		{
					color: #DB9595;
				}
.name			{	
					width: 90%;
					border: none;
					border-bottom: 2px solid red;
					margin-bottom: 16%;
					font-size: 20px;
					font-family: georgia;
					color: #707070;
					padding-left: 0px;
					margin-top: 7px;
				}
.name1			{
					width: 90%;
					border: none;
					border-bottom: 2px solid red;
					margin-bottom: 5px;
					font-size: 20px;
					font-family: georgia;
					color: #707070;
					padding-left: 0px;
					margin-top: 7px;
}
.name1:focus	{
					outline: none;
}
.name:focus	{
					outline: none;
}
.imageu			{
					margin-left: 2%;
				}
.imaget			{
					margin-left: 2%;
					vertical-align: -9%;
					
				}
#d				{
					position: relative;
					left: 5%;
					text-align: left;
					font-family: georgia;
					color: #808080;
					margin-bottom: 7%;
				}
#d:hover		{
					color: #DB9595;
				}
#dob			{
					width: 90%;
					border: none;
					border-bottom: 2px solid red;
					font-size: 16px;
					font-family: georgia;
					color: #707070;
					padding-left: 5px;
					margin-bottom: 0px;
				}
#dob:focus	{
					outline: none;
}
#view2			{
					position: absolute;
					padding: 10px;
					top: 0;
					right: 0;
					float: right;
				}
#button			{	
					position: absolute;
					right: 3%;
					bottom: 2%;
					background: none;
					border-radius:25px;
					border: 2px solid #8F8F8F;
					font-size: 13px;
					font-family: georgia;
					padding: 6px 10px;
					color: #737373;
					font-weight: bold;
				}
.prompt			{
					color: red;
					float: right;
					font-size: 14px;
					margin: 0px 20px;
					opacity: 0.4;
}
.prompt2		{
					color: red;
					float: left;
					font-size: 14px;
					margin: 0px 20px;
					opacity: 0.4;
}
#button:hover	{
					border-color: red;
					color: red;
				}
.topic_title	{
					margin: 10px;
					margin-top: 20px;
					display: block;
					font-size: 17px;
					font-family: georgia;
					color: #707070;
					border: none;
					padding-bottom: 5px;
					border-bottom: 1px solid red;
					width: 80%;
					-webkit-transition: width 0.4s ease-in-out;
					transition: width 0.4 ease-in-out;
				}
.topic_title:focus	{
						width: 95%;
						outline: none;
}
.topic_desc		{
					text-decoration: none;
					margin: 10px;
					padding: 8px;
					margin-top: 20px;
					font-size: 17px;
					font-family: georgia;
					color: #707070;
					border-radius: 10px;
					border: none;
					width: 95%;
					height: 110px;
					background-color: #EDEDED;
					resize: none;

}
.topic_desc:focus{
	outline: none;
}
@media(min-width: 200px) and (max-width: 700px){
#parent			{
					height: 50%;
					width: 90%;
				}
#l-space		{
					height: 100%;
					width: 100%;
				}
#l-space img 	{
					height: 25%;
					width: 30%;
				}
#l-space h1	{
					font-size: 170%;
				}
#l-space p1		{
					font-size: 100%;
					margin-bottom: 20px;
				}

#l-space p2	li	{
					margin: 2px;
					font-size: 85%;
				}	
#l-space p2 li:hover {
						font-size: 75%;
					}	
#r-space		{	
					height: 100%;
					width: 100%;
					bottom: 5%;
					margin-bottom: 5%;
					top: 0%;
				}
#r-space h5		{
					text-align: left;
					margin-top: 12px;
					margin-left: 5%;
					font-size: 15px; 
					margin-bottom: 10%;
				}
.name			{	
					font-size: 16px;
					margin-top: 10px;
					padding-left: 0px; 
					margin-left: 2.5px;
				}
.name1			{	
					font-size: 16px;
					margin-top: 10px;
					padding-left: 0px; 
					margin-left: 2.5px;
				}
#d				{
					margin-bottom: 4%;
				}
#dob			{
					font-size: 14px;
				}
p			{
					font-size: 10px;
}
#button			{	
					
					right: 3%;
					bottom: 2%;
					top: 90%;
					border: 1px solid #8F8F8F;
					font-size: 9px;
				}
.help_icon		{
					height: 50;
					width: 50;
}			
.topic_title	{
					margin-top: 0px;
					font-size: 13px;
				}	
.topic_desc		{
					font-size: 13px;
					height: 100px;
					background-color: #EDEDED;
					margin-top: 10px;
}
#footer			{
					position: absolute;
					top: 115%;
					bottom: 2%;
					font-size: 11px;
					left: 5%;
					right: 5%;
				}
				}
